moviepy>=2.0
pillow
numpy
yt-dlp
edge-tts
python-dotenv
google-genai
google-api-python-client
google-auth
opencv-python
mediapipe
whisper-timestamped
openai-whisper
gTTS
json5
psutil
fastapi
uvicorn
pydantic
